@{
    ViewBag.Title = "Index";
}

<form id="submitForm" method="POST">
    <input name="JYM_$EQ$Name" />
    <input id="submit" type="button" value="查询" />
</form>
<div>
    <dl>Result:</dl>
    <dl id="result"></dl>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script>
    $(function () {
        $("#submit").on("click", function () {
            debugger;
            $.post("@Url.Action("List")", $("#submitForm").serializeArray(), function (data) {
                $("#result").text(JSON.stringify(data));
            });
        });
    });
</script>